@import "tailwindcss";
@theme {
  --background-image-gradient-clear: linear-gradient(to top, #2193b0, #6dd5ed);        /* آسمان صاف */
  --background-image-gradient-clouds: linear-gradient(to top, #bdc3c7, #2c3e50);      /* ابری */
  --background-image-gradient-rain: linear-gradient(to top, #000428, #004e92);        /* بارانی */
  --background-image-gradient-snow: linear-gradient(to top, #e6dada, #274046);        /* برفی */
  --background-image-gradient-thunderstorm: linear-gradient(to top, #373B44, #4286f4);/* طوفانی */
  --background-image-gradient-drizzle: linear-gradient(to top, #4facfe, #00f2fe);     /* نم‌نم باران */
  --background-image-gradient-mist: linear-gradient(to top, #606c88, #3f4c6b);        /* مه */
  --background-image-gradient-smoke: linear-gradient(to top, #5c5c5c, #2f2f2f);       /* دود */
  --background-image-gradient-haze: linear-gradient(to top, #3e5151, #decba4);        /* غبار */
  --background-image-gradient-dust: linear-gradient(to top, #b79891, #94716b);        /* گرد و غبار */
  --background-image-gradient-fog: linear-gradient(to top, #757f9a, #d7dde8);         /* مه غلیظ */
  --background-image-gradient-sand: linear-gradient(to top, #c2b280, #6e4b1f);        /* شن */
  --background-image-gradient-ash: linear-gradient(to top, #606c88, #3f4c6b);         /* خاکستر آتشفشانی */
  --background-image-gradient-squall: linear-gradient(to top, #485563, #29323c);      /* باد شدید */
  --background-image-gradient-tornado: linear-gradient(to top, #232526, #414345);     /* گردباد */
  --background-image-gradient-default: linear-gradient(to top, #6a85b6, #bac8e0);     /* پیش‌فرض */
}
